{% extends 'notes/base.html' %}

{% block content %}
    <h2>Edit Note</h2>
    <form method="POST" class="card p-4 shadow">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" class="form-control mb-2" value="{{ note.title }}" required>
        <textarea name="content" placeholder="Content" class="form-control mb-2" required>{{ note.content }}</textarea>
        <div class="d-flex gap-2">
            <button type="submit" class="btn btn-success">Update</button>
            <a href="{% url 'index' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
{% endblock %}
